* {
	margin: 0;
}
html{
	height: 100%;
}


body {
	height: 100%;
    background-color: #fbfbfb;
}

#tryme {
    font-size: 30px;
	font-style: bold;
}

#famous {
	font-size: 20px;
	color: grey;
	margin-left: 20px
}

.splash{
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: midde
}

.buttonmenu {
	margin: 0 auto;
	margin-left: 5px;
    width: 27%;
    height: 400px;
    /*margin-left: 40px;
    margin-right: 20px;*/
	color: white;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 20px;
}

.emergency {
	background-color: #fc971f;
	border-color: #d58512;
}

.recipes {
	background-color: #31b0d5;
	border-color: #269abc;
}

.shop {
	background-color: #44bd44;
	border-color: #398439;
}

.footer, .push {
	height: 4em;
}

#content {
	
	padding-top: 50px;
	min-height: 100%;
	height: auto ;
	height: 100%;
	margin: 0 auto -4em;
}

aside{
	display: inline;
	float: left;
	border-color: #4F4F4F;
	border-style: solid;
	border-width: 1px;
}

.inaside{
	display: block;
}

.activity{
	display : block
	background-color: orange;
	height: 100%
}

.centerV{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.comment{
	text-align: justify;
}